<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/tests" />
        <option value="C:\xampp\htdocs\Graded-Unit-2-webpage\tests" />
      </list>
    </option>
  </component>
</project>